<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GiftcardSite"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".UseCard"
            android:label="@string/title_activity_use_card"
            android:theme="@style/Theme.GiftcardSite.NoActionBar"
            android:exported="true">
            <intent-filter>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />

            <data android:mimeType="text/giftcards_use" />
                <data android:scheme="giftcard" />
                <data android:host="appsec.moyix.net"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".GetCard"
            android:label="@string/title_activity_get_card"
            android:theme="@style/Theme.GiftcardSite.NoActionBar"
            android:exported="true">
            <intent-filter>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />

            <data android:mimeType="text/giftcards_buy" />
                <data android:scheme="giftcard" />
                <data android:host="appsec.moyix.net"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ProductScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/Theme.GiftcardSite.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/giftcards_browse" />
                <data android:scheme="giftcard" />
                <data android:host="appsec.moyix.net"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.GiftcardSite.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CardScrollingActivity"
            android:label="@string/title_activity_scrolling_card"
            android:theme="@style/Theme.GiftcardSite.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/giftcards_list" />
                <data android:scheme="giftcard" />
                <data android:host="appsec.moyix.net"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
